.Port-Hero h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    
}

.Port-Hero h1{
    font-size: 80px;
    font-weight: 600;
    line-height: 90px;
}

    

.Port-Hero p{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.eclipse-image{
    height: 500px;
}



.border-apple{
 border-top: 2px solid #00000033;
 border-bottom: 2px solid #00000033;
}



/* Product css */

.PRODUCT h1{

font-size: 27px;
font-weight: 600;
line-height: 42px;

}


.PRODUCT p{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    }
    
    
.px-product{
    padding: 0 5rem;
}

.image-holder{
    width: 120px;
    height: 120px;
}


.port-btn{
    background-color: #FFD285;
    border-radius: 10px;
font-size: 32px;
font-weight: 600;
padding: 24px 53px;

margin-top: 83px;


}

/* WORK CSS */
.WORK h1{
  
font-size: 32px;
font-weight: 600;
line-height: 42px;


}

.WORK p{
    font-family: Outfit;
font-size: 20px;
font-weight: 600;



}



/* Clients */
.mb-80{
    margin-bottom: 80px;
}


.border-clients{
    background: #FFFCF5;

    border: 1.5px solid #FFD285
}

.p-clients{
    padding: 30px 22px 30px 30px;
}
/* Clients */

/* FORM CSS */
.border-TopForm{
    border-top: 2px solid #00000033
}

/* FORM CSS */



/* Clients */


/* FORM */

.pe-288{
    padding-right: 288px;
}
.social-icons{
    width: 36px;
    height: 36px;

}


.FORM h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}
  

    

.FORM p{
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 60px;
}

.FORM-INput {
    background: #F3F3F3;
    border: none;

    width: 100%;
}

.FORM-INput::placeholder {
    font-size: 17px;
    font-weight: 400;
  }
  

.text-form{
    background: #F3F3F3;
    border: none;

    width: 100%;
}


.sub-btn{
    background: #2D2D2D;

    color: white;
 padding: 25px 82px;

font-size: 20px;
font-weight: 600;

}

/* FORM */












@media (max-width: 1024px) {
    .BRAND .container, .container-lg, .container-md, .container-sm {
        max-width: 242px;
    }

    .BRAND .col-lg-6{
        flex: 0 0 auto;
        width: 100%;
    }

    .BRAND{
        text-align: center;
    }

    .Port-Hero h1 {
        font-size: 42px;
        font-weight: 600;
        line-height: 37px;
    }

    .eclipse-image {
        height: 230px;
    }



    .APPLE .container, .container-lg, .container-md, .container-sm {
        max-width: 242px;
    }

    .APPLE img {
        width: 38%;
        height: 34px;
        margin-top: 30px;
    }

    .APPLE .py-5 {
        padding-top: 2rem!important;
        padding-bottom: 2rem!important;
    }


    /* Products */
    .PRODUCT .col-lg-4{
        flex: 0 0 auto;
        width: 100%;
    }

    .PRODUCT .container, .container-lg, .container-md, .container-sm {
        max-width: 242px;
    }

    .px-product{
        padding: 0 ;
    }
    

    .PRODUCT p {
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
    }

    .mt-1024{
        margin-top: 125px;
    }


    /* WORK */
    .WORK .container, .container-lg, .container-md, .container-sm {
        max-width: 315px;
    }

    .WORK .col-lg-4{
        flex: 0 0 auto;
        width: 100%;
    }

    .WORK h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
    }

    .none-1024{
        display: none!important;
    }

    .mt-1024-work{
        margin-top: 60px;
    }




    
    /* CLients */
    .CLIENTS .container, .container-lg, .container-md, .container-sm {
        max-width: 315px;
    }

    .CLIENTS .col-lg-4{
        flex: 0 0 auto;
        width: 100%;
    }

    .CLIENTS h1{

font-size: 32px;
font-weight: 600;


    }
    .CLIENTS h2{
font-size: 20px;
font-weight: 600;
line-height: 30px;
    }

    .CLIENTS p{
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
    }

    /* form */

    .pe-288 {
        padding-right: 0;
    }

    .FORM .container, .container-lg, .container-md, .container-sm {
        max-width: 315px;
    }

    .FORM .col-lg-6{
        flex: 0 0 auto;
        width: 100%;
    }






    /* form */

}
    


@media (max-width: 991px) {
    .mt-991{
        margin-top: 20px;
    }
}

@media (max-width: 425px) {
    .eclipse-image{
        height: 300px;
    }

    .Port-Hero h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 54px;
    }

}